# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
import pandas as pd  
customer_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [4]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
customer_data.shape

(4008, 11)

In [8]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
#You should also provide suggestions for fixing any incorrect data types.
customer_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [9]:
customer_data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Category data (object) - Customer, State
Category - Gender, Education, Policy Type, and Vehicle Class
Number data (should be float or int) - Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Total Claim Amount

Therefore, Customer Lifetime Value, Number of Open Complains are currently incorrect data types. The remainder are okay but it would be better if Gender, Education, Policy Type, and Vehicle Class were 'category' data type - possible to convert using astype('category')

Summary

Category data (object) - Customer, State: These columns contain textual or categorical information and are correctly represented as objects.

Category - Gender, Education, Policy Type, and Vehicle Class: These columns are categorical in nature and could be converted to the categorical data type for better memory usage and performance.

Number data (should be float or int) - Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Total Claim Amount: These columns contain numerical data and should be represented as either float or int data types. However, Customer Lifetime Value and Number of Open Complaints are currently represented as objects, indicating they may need conversion to numerical types.

In [14]:
#Identify the number of unique values for each column and determine which columns appear to be categorical. You should also 
#describe the unique values of each categorical column and the range of values for numerical columns, #and give your insights.

customer_data.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [ ]:
Categorical - Gender, Education, Policy Type, Vehicle Class

In [34]:
customer_data['GENDER'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [32]:
customer_data['Education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [30]:
customer_data['Policy Type'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [36]:
customer_data['Vehicle Class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [47]:
income_range = customer_data['Income'].max() - customer_data['Income'].min()
print("Income Max:", customer_data['Income'].max())
print("Income Min:", customer_data['Income'].min())
print("Income range:", income_range)

Income Max: 99960.0
Income Min: 0.0
Income range: 99960.0

In [46]:
monthly_premium_auto_range = customer_data['Monthly Premium Auto'].max() - customer_data['Monthly Premium Auto'].min()
print("Monthly Premium Auto Max:", customer_data['Monthly Premium Auto'].max())
print("Monthly Premium Auto Min:", customer_data['Monthly Premium Auto'].min())
print("Monthly Premium Auto Range:", monthly_premium_auto_range)

Monthly Premium Auto Max: 35354.0
Monthly Premium Auto Min: 61.0
Monthly Premium Auto Range: 35293.0

In [51]:
total_claim_amount_range = customer_data['Total Claim Amount'].max() - customer_data['Total Claim Amount'].min()
print("Total Claim Amount Max:", customer_data['Total Claim Amount'].max())
print("Total Claim Amount Min:", customer_data['Total Claim Amount'].min())
print("Total Claim Amount Range:", total_claim_amount_range)

Total Claim Amount Max: 2893.239678
Total Claim Amount Min: 0.382107
Total Claim Amount Range: 2892.857571

In [57]:
#Not possible because of current data type:
customer_data['Number of Open Complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [59]:
#Not possible because of current data type:
customer_data['Customer Lifetime Value'].unique()

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object)

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [75]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_locations = pd.read_csv(url, usecols=["ST"]).squeeze("columns")

In [78]:
customer_locations.value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [86]:
five_less_common_customer_locations = customer_locations.value_counts().index[-5:]

In [87]:
five_less_common_customer_locations

Index(['Cali', 'Nevada', 'Washington', 'WA', 'AZ'], dtype='object', name='ST')

In [92]:
location_counts = customer_locations.value_counts()

# Step 3: Sort the values in ascending order
sorted_locations = location_counts.sort_values()

# Step 4: Retrieve the top 5 less common locations
top_5_less_common_locations = sorted_locations.head(5)

print(top_5_less_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [105]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
policy_types = pd.read_csv(url, usecols=["Policy Type"]).squeeze("columns")

In [106]:
policy_types_counts = policy_types.value_counts()

In [107]:
policy_types_counts

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [104]:
max_index = policy_types_counts.idxmax()
max_policies_sold = policy_types.value_counts().iloc[0]

print("Index of the maximum value:", max_index)
print("Number of policies sold:", max_policies_sold )

Index of the maximum value: Personal Auto
Number of policies sold: 780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [120]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_data_df = pd.read_csv(url)

# Filter the DataFrame for Personal Auto policies
personal_auto_df = customer_data_df.loc[customer_data_df['Policy Type'] == 'Personal Auto']

# Filter the DataFrame for Corporate Auto policies
corporate_auto_df = customer_data_df.loc[customer_data_df['Policy Type'] == 'Corporate Auto']

# Calculate the average income for each policy type
average_income_personal_auto = round(personal_auto_df['Income'].mean(), 2)
average_income_corporate_auto = round(corporate_auto_df['Income'].mean(), 2)

# Print the results
print("Average income for Personal Auto policies:", average_income_personal_auto)
print("Average income for Corporate Auto policies:", average_income_corporate_auto)

Average income for Personal Auto policies: 38180.7
Average income for Corporate Auto policies: 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [125]:
quantile_value = customer_data_df['Total Claim Amount'].quantile(0.75)

# Filter the DataFrame to select high-claim customers
high_claim_customers = customer_data_df[customer_data_df['Total Claim Amount'] > quantile_value]

# Provide summary statistics for high-claim customers
high_claim_customers_summary = high_claim_customers.describe()

#Round
high_claim_customers_summary_rounded = high_claim_customers_summary.round(2)

print(high_claim_customers_summary_rounded)

         Income  Monthly Premium Auto  Total Claim Amount
count    264.00                264.00              264.00
mean   23677.34                165.19              782.23
std    27013.48                623.93              292.75
min        0.00                 63.00              537.60
25%        0.00                 99.00              606.52
50%    18807.00                114.00              679.60
75%    42423.75                133.25              851.40
max    99316.00              10202.00             2893.24